trigger: 
- main

pool:
 name: 'Azure Pipelines'
 vmImage: 'ubuntu-latest'

steps:
    - task: Docker@2
      displayName: Build an image
      inputs:
        command: build
        dockerfile: '**/Dockerfile'
    - task: Docker@2
      displayName: Login to ACR
      inputs:
        command: login
        containerRegistry: 'hapalochlaena'
    - task: Docker@2
      displayName: Build and push an image to container registry
      inputs:
        containerRegistry: 'hapalochlaena'
        repository: 'enterocopus'
        command: 'buildAndPush'
        Dockerfile: '**/Dockerfile'
